@font-face {
  font-family: 'feather';
  src:
    url('fonts/feather.ttf?9lwug0') format('truetype'),
    url('fonts/feather.woff?9lwug0') format('woff'),
    url('fonts/feather.svg?9lwug0#feather') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fe-"], [class*=" fe-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-comment-outline:before {
  content: "\e9b8";
}
.fe-comment-outline-off:before {
  content: "\e9b9";
}
.fe-activity:before {
  content: "\e900";
}
.fe-alert-circle:before {
  content: "\e901";
}
.fe-alert-triangle:before {
  content: "\e902";
}
.fe-align-center:before {
  content: "\e903";
}
.fe-align-justify:before {
  content: "\e904";
}
.fe-align-left:before {
  content: "\e905";
}
.fe-align-right:before {
  content: "\e906";
}
.fe-archive:before {
  content: "\e907";
}
.fe-arrow-down:before {
  content: "\e908";
}
.fe-arrow-down-left:before {
  content: "\e909";
}
.fe-arrow-down-right:before {
  content: "\e90a";
}
.fe-arrow-left:before {
  content: "\e90b";
}
.fe-arrow-right:before {
  content: "\e90c";
}
.fe-arrow-up:before {
  content: "\e90d";
}
.fe-arrow-up-left:before {
  content: "\e90e";
}
.fe-arrow-up-right:before {
  content: "\e90f";
}
.fe-at-sign:before {
  content: "\e910";
}
.fe-award:before {
  content: "\e911";
}
.fe-bell:before {
  content: "\e912";
}
.fe-bell-off:before {
  content: "\e913";
}
.fe-bookmark:before {
  content: "\e914";
}
.fe-box:before {
  content: "\e915";
}
.fe-briefcase:before {
  content: "\e916";
}
.fe-calendar:before {
  content: "\e917";
}
.fe-camera:before {
  content: "\e918";
}
.fe-camera-off:before {
  content: "\e919";
}
.fe-check:before {
  content: "\e91a";
}
.fe-check-square:before {
  content: "\e91b";
}
.fe-chevron-down:before {
  content: "\e91c";
}
.fe-chevron-left:before {
  content: "\e91d";
}
.fe-chevron-right:before {
  content: "\e91e";
}
.fe-chevron-up:before {
  content: "\e91f";
}
.fe-chevrons-down:before {
  content: "\e920";
}
.fe-chevrons-left:before {
  content: "\e921";
}
.fe-chevrons-right:before {
  content: "\e922";
}
.fe-chevrons-up:before {
  content: "\e923";
}
.fe-clipboard:before {
  content: "\e924";
}
.fe-clock:before {
  content: "\e925";
}
.fe-cloud:before {
  content: "\e926";
}
.fe-cloud-off:before {
  content: "\e927";
}
.fe-download-cloud:before {
  content: "\e928";
}
.fe-upload-cloud:before {
  content: "\e929";
}
.fe-code:before {
  content: "\e92a";
}
.fe-compass:before {
  content: "\e92b";
}
.fe-copy:before {
  content: "\e92c";
}
.fe-cpu:before {
  content: "\e92d";
}
.fe-credit-card:before {
  content: "\e92e";
}
.fe-database:before {
  content: "\e92f";
}
.fe-delete:before {
  content: "\e930";
}
.fe-dollar-sign:before {
  content: "\e931";
}
.fe-droplet:before {
  content: "\e932";
}
.fe-edit:before {
  content: "\e933";
}
.fe-edit-2:before {
  content: "\e934";
}
.fe-external-link:before {
  content: "\e935";
}
.fe-eye:before {
  content: "\e936";
}
.fe-eye-off:before {
  content: "\e937";
}
.fe-facebook:before {
  content: "\e938";
}
.fe-file:before {
  content: "\e939";
}
.fe-file-minus:before {
  content: "\e93a";
}
.fe-file-plus:before {
  content: "\e93b";
}
.fe-file-text:before {
  content: "\e93c";
}
.fe-film:before {
  content: "\e93d";
}
.fe-filter:before {
  content: "\e93e";
}
.fe-flag:before {
  content: "\e93f";
}
.fe-folder:before {
  content: "\e940";
}
.fe-folder-minus:before {
  content: "\e941";
}
.fe-folder-plus:before {
  content: "\e942";
}
.fe-gift:before {
  content: "\e943";
}
.fe-git-commit:before {
  content: "\e944";
}
.fe-github:before {
  content: "\e945";
}
.fe-globe:before {
  content: "\e946";
}
.fe-grid:before {
  content: "\e947";
}
.fe-hard-drive:before {
  content: "\e948";
}
.fe-hash:before {
  content: "\e949";
}
.fe-headphones:before {
  content: "\e94a";
}
.fe-heart:before {
  content: "\e94b";
}
.fe-help-circle:before {
  content: "\e94c";
}
.fe-image:before {
  content: "\e94d";
}
.fe-inbox:before {
  content: "\e94e";
}
.fe-info:before {
  content: "\e94f";
}
.fe-instagram:before {
  content: "\e950";
}
.fe-layers:before {
  content: "\e951";
}
.fe-sidebar:before {
  content: "\e952";
}
.fe-layout:before {
  content: "\e953";
}
.fe-link:before {
  content: "\e954";
}
.fe-link-2:before {
  content: "\e955";
}
.fe-list:before {
  content: "\e956";
}
.fe-loader:before {
  content: "\e957";
}
.fe-log-in:before {
  content: "\e958";
}
.fe-log-out:before {
  content: "\e959";
}
.fe-mail:before {
  content: "\e95a";
}
.fe-map:before {
  content: "\e95b";
}
.fe-map-pin:before {
  content: "\e95c";
}
.fe-maximize:before {
  content: "\e95d";
}
.fe-maximize-2:before {
  content: "\e95e";
}
.fe-menu:before {
  content: "\e95f";
}
.fe-message-circle:before {
  content: "\e960";
}
.fe-message-square:before {
  content: "\e961";
}
.fe-mic:before {
  content: "\e962";
}
.fe-mic-off:before {
  content: "\e963";
}
.fe-minimize-2:before {
  content: "\e964";
}
.fe-monitor:before {
  content: "\e965";
}
.fe-more-horizontal:before {
  content: "\e966";
}
.fe-more-vertical:before {
  content: "\e967";
}
.fe-move:before {
  content: "\e968";
}
.fe-music:before {
  content: "\e969";
}
.fe-navigation:before {
  content: "\e96a";
}
.fe-package:before {
  content: "\e96b";
}
.fe-paperclip:before {
  content: "\e96c";
}
.fe-pie-chart:before {
  content: "\e96f";
}
.fe-play:before {
  content: "\e9bb";
}
.fe-play-outline:before {
  content: "\e970";
}
.fe-play-circle:before {
  content: "\e971";
}
.fe-pause:before {
  content: "\e9bc";
}
.fe-pause-outline:before {
  content: "\e96d";
}
.fe-pause-circle:before {
  content: "\e96e";
}
.fe-plus:before {
  content: "\e972";
}
.fe-plus-circle:before {
  content: "\e973";
}
.fe-minus:before {
  content: "\e974";
}
.fe-minus-circle:before {
  content: "\e975";
}
.fe-printer:before {
  content: "\e976";
}
.fe-radio:before {
  content: "\e977";
}
.fe-refresh-cw:before {
  content: "\e978";
}
.fe-repeat:before {
  content: "\e979";
}
.fe-rotate-ccw:before {
  content: "\e97a";
}
.fe-rotate-cw:before {
  content: "\e97b";
}
.fe-rss:before {
  content: "\e97c";
}
.fe-save:before {
  content: "\e97d";
}
.fe-scissors:before {
  content: "\e97e";
}
.fe-search:before {
  content: "\e97f";
}
.fe-send:before {
  content: "\e980";
}
.fe-sliders:before {
  content: "\e981";
}
.fe-settings:before {
  content: "\e982";
}
.fe-share:before {
  content: "\e983";
}
.fe-share-2:before {
  content: "\e984";
}
.fe-shield:before {
  content: "\e985";
}
.fe-shield-off:before {
  content: "\e986";
}
.fe-shopping-bag:before {
  content: "\e987";
}
.fe-shopping-cart:before {
  content: "\e988";
}
.fe-shuffle:before {
  content: "\e989";
}
.fe-rewind:before {
  content: "\e98a";
}
.fe-skip-back:before {
  content: "\e98b";
}
.fe-skip-forward:before {
  content: "\e98c";
}
.fe-fast-forward:before {
  content: "\e98d";
}
.fe-slash:before {
  content: "\e98e";
}
.fe-smartphone:before {
  content: "\e98f";
}
.fe-star:before {
  content: "\e990";
}
.fe-moon:before {
  content: "\e991";
}
.fe-sun:before {
  content: "\e992";
}
.fe-tablet:before {
  content: "\e993";
}
.fe-tag:before {
  content: "\e994";
}
.fe-terminal:before {
  content: "\e995";
}
.fe-thumbs-down:before {
  content: "\e996";
}
.fe-thumbs-up:before {
  content: "\e997";
}
.fe-trash:before {
  content: "\e998";
}
.fe-trash-2:before {
  content: "\e999";
}
.fe-trending-down:before {
  content: "\e99a";
}
.fe-trending-up:before {
  content: "\e99b";
}
.fe-truck:before {
  content: "\e99c";
}
.fe-tv:before {
  content: "\e99d";
}
.fe-twitter:before {
  content: "\e99e";
}
.fe-bold:before {
  content: "\e99f";
}
.fe-underline:before {
  content: "\e9a0";
}
.fe-type:before {
  content: "\e9a1";
}
.fe-italic:before {
  content: "\e9a2";
}
.fe-lock:before {
  content: "\e9a3";
}
.fe-unlock:before {
  content: "\e9a4";
}
.fe-user:before {
  content: "\e9a5";
}
.fe-user-minus:before {
  content: "\e9a6";
}
.fe-user-plus:before {
  content: "\e9a7";
}
.fe-user-x:before {
  content: "\e9a8";
}
.fe-users:before {
  content: "\e9a9";
}
.fe-video:before {
  content: "\e9aa";
}
.fe-video-off:before {
  content: "\e9ab";
}
.fe-volume:before {
  content: "\e9ac";
}
.fe-volume-1:before {
  content: "\e9ad";
}
.fe-volume-2:before {
  content: "\e9ae";
}
.fe-volume-x:before {
  content: "\e9af";
}
.fe-volume-off:before {
  content: "\e9ba";
}
.fe-wifi:before {
  content: "\e9b0";
}
.fe-x:before {
  content: "\e9b1";
}
.fe-x-circle:before {
  content: "\e9b2";
}
.fe-youtube:before {
  content: "\e9b3";
}
.fe-zap:before {
  content: "\e9b4";
}
.fe-zap-off:before {
  content: "\e9b5";
}
.fe-zoom-in:before {
  content: "\e9b6";
}
.fe-zoom-out:before {
  content: "\e9b7";
}
